@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --color1: #eee;
  --color2: #828282;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 50px;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  color: #231e39;
  background-image: radial-gradient(
    circle 360px at 50% 50%,
    rgba(54, 96, 172, 1) 0%,
    rgba(46, 53, 89, 1) 100.2%
  );
}

h1 {
  margin-top: 15px;
  color: #febb0b;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

h5 {
  margin: 10px 0;
}

.heroes-main-container {
  display: flex;
  flex-direction: column;
}

.global-filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 40px 40px 20px 40px;
}

select optgroup {
  margin-top: 5px;
}

select {
  display: block;
  height: 42px;
  width: 300px;
  margin: 5px 20px;
  padding: 8px 25px;
  border: 2px solid #febb0b;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  font-family: "Muli", sans-serif;
  font-size: 1.1em;
  color: #312940;
  appearance: none;
  background-color: #eee;
}

.select:focus {
  outline: 0;
}

.heroes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
}

.marvel-hero {
  width: 230px;
  margin: 10px;
  padding: 15px;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(
    to bottom right,
    var(--color1),
    var(--color2)
  );
}

.reset-block {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.marvel-hero:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.marvel-hero .img-container {
  padding: 0 10%;
  width: 120px;
  height: 120px;
}

.marvel-hero .round {
  width: 160px;
  height: 160px;
  object-fit: cover;
  padding: 7px;
  border: 1px solid #febb0b;
  border-radius: 10px;
}

.marvel-hero .name {
  margin: 10px 0;
  text-transform: uppercase;
}

.marvel-hero .info {
  margin-top: 45px;
}

.marvel-hero .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.marvel-hero .realName {
  margin-bottom: 15px;
}

.cardInfo {
  padding: 0px 25px;
  margin-top: 14px;
}

.cardInfo ul li {
  padding: 3px;
  text-align: left;
}

.details {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle 360px at 50% 50%,
    rgba(54, 96, 172, 1) 0%,
    rgba(46, 53, 89, 1) 100.2%
  );
  z-index: 50;
}

.hero-details-container {
  display: flex;
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  top: 10%;
  width: 700px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #231e39;
  text-align: center;
  z-index: 10;
  background-image: linear-gradient(
    to bottom right,
    var(--color1),
    var(--color2)
  );
}

.hero-details-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero-details-container .movies {
  padding: 15px;
  margin-top: 6px;
  text-align: left;
}

.hero-details-container .movies h5 span {
  font-size: 0.6em;
}

.hero-details-container .movies ul li {
  margin: 0 7px 7px 0;
  padding: 7px;
  border: 1px solid #2d2747;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}

.hero-details-container .movies ul li:hover {
  background-color: #febb0b;
}

.active {
  display: block;
}

.close-hero-details {
  position: absolute;
  z-index: 15;
  top: 0.1rem;
  right: 0.5rem;
  width: 35px;
  height: 35px;
  text-align: center;
  border: none;
  font-size: 2rem;
  color: #2d2747;
  cursor: pointer;
  background-color: transparent;
  background-image: url(img/sword.png);
  background-size: 70%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.hero-details-container .status {
  padding: 3px 7px;
  position: absolute;
  top: 24px;
  left: 30px;
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.hero-details-container .status:hover {
  transform: scale(1.05);
}

.hero-details-container .hero-image {
  float: left;
  margin: 0 5px;
}

.hero-details-container .round {
  width: 300px;
  height: auto;
  object-fit: cover;
  padding: 7px;
  border-radius: 5%;
}

.hero-details-container h3 {
  margin: 10px 0;
}

.hero-details-container h5 {
  margin: 5px 0;
  text-transform: uppercase;
}

.hero-details-container p {
  margin: 7px 0;
  line-height: 21px;
}

.link {
  text-underline-offset: 2px;
  cursor: pointer;
  text-decoration: underline dashed;
}

.link:hover {
  color: #fea70b !important;
}

.reset-block .link {
  color: #eee;
}

.heroes-shown-number {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #eee;
}

.hero-data {
  margin-left: 10px;
}
